'.source.js':

    # Angular
    # ES5 Templates

    'module':
        'prefix': 'module'
        'body': '(function() {\n    \'use strict\'\n\n      angular.module($2)\n\n}());'

    # ES6 Templates

    'Service (ES6)':
        'prefix': 'ng.svc'
        'body': '''
            const $1ServiceName = '$2Service';

            class $3Service {

                constructor() {

                }
            }

            export default {
                name: $4ServiceName,
                main: $5Service
            }
        '''

    'Unit Test (ES6)':
        'prefix': 'ng.svc.test'
        'body': '''
            import _$1Module from '$2';

            fdescribe(_$3Module.name, () => {

                let $4Service;

                beforeEach(() => {
                    angular.mock.module(_$5.name);
                    inject(($injector) => {
                        $6Service = $injector.get(_$7.name);
                    });
                });

                describe('contructor', () => {

                    $8
                });

            });
        '''

    # gulp

    'gulp task':
        'prefix': 'gulp.task'
        'body': '''
            'use strict';

            module.exports = function(gulp, config) {

                var help,
                    $1 = require('$2');

                help = "$3";
                gulp.task('$4', help, function() {
                    return gulp
                            .src($5)
                });
            };
        '''

    #

    # Testing

    'testing':
        'prefix': 'testshell'
        'body': '''
            describe('$1', () => {

                var $2Service;

                beforeEach(() => {
                    module('$3');
                });

                beforeEach(inject(($injector) => {
                    $4Service = $injector.get('$5');
                }));

                describe('$6', () => {

                    it('$7', () => {

                    });

                });

            });
        '''

# Markdown Snippets

'.source.gfm':

    'README':
        'prefix': 'README'
        'body': '''
            ## $1

            $2

            ### Using $1
            ----

            ### Understanding $1
            ----

            ### Developing on this library
            ----

        '''
